@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&display=swap');
/* font-family: "Noto Sans KR", sans-serif; */
/* font-family: "Noto Serif KR", serif; */
/* font-family: "Montserrat", sans-serif; */



/* CSS Reset */

html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display: block;}

html{font-size: 16px;}
body{font-family:  "Noto Sans KR", sans-serif; font-size: 16px;color: #333;}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
address{font-style: normal;}
a{color: #333; text-decoration: none; display: block;}
img{border: 0; vertical-align: top}


/* 구글 아이콘 */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.hidden{display: block; position: absolute;
 left: -1000%; width: 1px; height: 1px;
  overflow: hidden; color: #fff}


/* skipNav 영역 */
#skipNav{
  position:relative;
  width:100%; overflow:hidden; 
  z-index: 110;}
#skipNav a{
  display:block; height:1px; margin-bottom:-1px; overflow:hidden;
  text-align:center; color:#fff; 
  font-size:1.2em; font-weight: 700;}
  
#skipNav a:hover,#skipNav a:focus,#skipNav a:active{
  display:block; height:auto; padding:15px 0;
  background: #423124;
}


/* Top으로 이동 버튼 */
.movetop{
  width: 80px; height: 90px;
  right: 0; bottom: 30px;
  margin-right: 200px;
  position: fixed;
  display: none;
}
.movetop .move_btn{
  width: 60px; height: 60px;
  background: #8E684C;
  color: #fff; 
  text-align: center;
  font-size: 2rem; 
  border-radius: 20px;
  margin: 10px;
  transition: all .4s ease-out;
}
.movetop .move_btn:hover{
  background: #FFCCA8;
  color: #423124; 
  animation: movetopbtn 1.5s infinite;
}

@keyframes movetopbtn{
  0%,100%{
    transform: rotate(0deg) scaleY(.9);
    animation-timing-function: ease-out;
  }
  50%{
    transform: rotate(360deg);
    animation-timing-function: ease-in;
  }
  98%{
    transform: scaleY(1);
  } 
}
.movetop .move_btn span{display: block; padding-top: 17px;}




#wrap{width: 100%; overflow: hidden;}  

 /* header 공통영역 */ 
 
#headerArea{width: 100%; 
  height: 100px; 
  background: rgba(255, 255, 255, .7);
  backdrop-filter: blur(5px);
  position: fixed; left: 0; top: 0; 
  z-index: 100; 
  overflow: hidden;
  transition: all .5s ease;
}
#headerArea .header_inner{
  width: 1400px; margin: 0 auto;
  position: relative;
}
#headerArea .logo{float: left; margin: 35px 60px 35px 0;}
#headerArea .logo a{
  display: block;
  width: 251px; height: 31px; 
  background: url(../images/logo.png); 
  text-indent: -999px;
  overflow: hidden;
}

/* gnb */

/* depth1  */
#headerArea #gnb{float: left; width: 900px; height: 65px; 
}
#headerArea #gnb ul.dropdownmenu{
  float: left; 
  width: 100%;
}
#headerArea #gnb ul.dropdownmenu li.menu{
  float: left;
  width: 16.66%;
 
}
#headerArea #gnb ul.dropdownmenu li a.depth1{
  display: block;
  font-size: 1.25rem; 
  font-weight: 600;
  padding: 35px 0 25px 0;
  margin-bottom: 10px;
  text-align: center;
  transition: all .4s;
  position: relative;
}
#headerArea #gnb ul.dropdownmenu li h3{
  width: 120px; margin: 0 auto;
}
#headerArea #gnb ul.dropdownmenu li a.depth1 span::after{
  content: ''; display: block;
  width: 0; height: 8px;
  background: #ffdcc2;
  position: absolute; left: 50%; bottom: 5px;
  transform: translateX(-50%);
  z-index: -1;
  transition: all .3s;
}
#headerArea #gnb ul.dropdownmenu li:hover a.depth1 span::after{
  content: ''; display: block;
  width: 100%; height: 8px;
  background: #ffdcc2;
  left: 50%; bottom: 5px;
  transform: translateX(-50%);
  z-index: -1;
}

/* depth2 */
#headerArea #gnb ul.dropdownmenu li ul{
  width: 100%; height: 200px;
  position: relative; 
  top: 0; left: 0;
  line-height: 2rem;
  display: none;
}
#headerArea #gnb ul.dropdownmenu li ul li{
  text-align: center;
  font-size: 1.13rem;
  position: relative;
  transition: all .5s;
}

#headerArea #gnb ul.dropdownmenu li ul li a{
  display: block;
  text-align: center;
  padding-top: 5px;
  transition: all .5s; 
}


/* 로그인 회원가입 button */

#headerArea .top_menu {overflow: hidden; 
  position: absolute; right: 0; top: 38px;
}
#headerArea .top_menu ul{overflow: hidden;}
#headerArea .top_menu li{float: left; margin-right: 20px;}
#headerArea .top_menu li:last-child{margin-right: 0;}





/* footer 공통영역 */
#footerArea{width: 100%; height: 350px; background: #111;}
#footerArea::after{content: ''; display: block; clear: both;}
#footerArea .footer_container{width: 1200px; margin: 0 auto;
padding-top: 70px; position: relative;}
#footerArea .footer_container::after{content: ''; display: block; clear: both;}
  
#footerArea img{width: 190px; margin: 0 0 30px;}
#footerArea address{font-size: 1.06rem; color: #cacaca; line-height: 1.9rem;}
#footerArea .footer_left span{ font-weight: 500; color: #fff;}
#footerArea p{font-size: 1rem; color: #aeaeae; }

#footerArea .bottom_menu{margin-top: 20px;}
#footerArea .bottom_menu ul{overflow: hidden; }
#footerArea .bottom_menu ul::after{content: ''; display: block; clear: both;}
#footerArea .bottom_menu li{float: left; margin-right: 20px;}
#footerArea .bottom_menu li a{color: #939393;}

#footerArea .footer_left{float: left;}

#footerArea .footer_right{position: absolute; right:0; top: 70px;}
#footerArea .footer_right::after{content: ''; display: block; clear: both;}


/* 패밀리 사이트  */
#footerArea .family{position: relative;}
#footerArea .family .arrow{
  float: right; width: 200px; height: 45px;
  border:1px solid #8E684C; border-radius: 4px;
  box-sizing: border-box;  
  color: #999; 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;  
  padding: 5px;
  transition: all .5s ease;
}
#footerArea .family .arrow .material-symbols-outlined{
  font-size: 1.5rem;
  color: #999;
}
#footerArea .family .arrow:hover{ color:#fff; background: #8E684C;}
#footerArea .family .arrow:hover .material-symbols-outlined{
  font-size: 1.5rem;
  color: #fff;
}
#footerArea .family .aList{
  position: absolute; bottom: 100%; left: 1px;
  width: 200px;
  border: 1px solid #8E684C;
  border-radius: 4px;
  box-sizing: border-box; 
  background: #111; 
  display: none;
}
#footerArea .family .aList li{
  line-height: 1.5rem;
  color: #fff;
  box-sizing: border-box;
}
#footerArea .family .aList li a{
  display: block;
  text-align: center; 
  padding: 5px 0; 
  transition: all .3s; 
  color: #7e7e7e;
}
#footerArea .family .aList li a:hover{
  color:#fff; background: #8E684C;
}


/* footer sns */

#footerArea .sns li{
  width: 35px; height: 35px;
  text-align: center;
  margin: 20px 0 0 30px;
  border: 1px solid #8E684C;
  border-radius: 10px;
  float: left;
}

#footerArea .sns li:hover{
  width: 35px; height: 35px;
  text-align: center;
  margin: 20px 0 0 30px;
  border: 1px solid #FFCCA8; 
  border-radius: 10px;
}

#footerArea .sns li.insta{
  background: url(../images/instagram.svg) 3px 5px no-repeat; 
  background-size: 25px; 
  background-position: 5px 5px;
  text-indent: -999px;
  overflow: hidden;
}
#footerArea .sns li.face{
  background: url(../images/facebook.svg) 3px 5px no-repeat; 
  background-size: 25px; 
  background-position: 5px 5px;
  text-indent: -999px;
  overflow: hidden;
}
#footerArea .sns li.blog{
  background: url(../images/blog.svg) 3px 5px no-repeat; 
  background-size: 25px; 
  background-position: 5px 6px;
  text-indent: -999px;
  overflow: hidden;
}
#footerArea .sns .blog a{width: 35px; height: 35px;}











