

 /* visual 영역 */ 

.visual{width:2000px; 
  position: relative; top: 0; left: 50%;
  transform: translateX(-50%);
  background: #eddbce;
}

.visual .gallery{
  width:2000px; height:900px;
  position:relative; left: 0; top: 0;
  overflow:hidden;
}
.visual .gallery li{display:none; position: relative;}

.visual .gallery img{animation: ani 30s linear infinite;}
@keyframes ani {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}

.visual .gallery li span{
  position: absolute; top: 50%; left: 400px;
  font-family: "Noto Serif KR";
  font-size: 2.5rem;
  font-weight: 500;
  color: #423124;
  letter-spacing: 0.4rem;
  opacity: 0; 
}
.visual .gallery .link1 span{top: 50%; left: 400px;}

.visual .dock{
  position:absolute; left: 50%; bottom: 50px;
  transform: translateX(-50%);
}

.visual .dock .mbutton{
  margin-top: 10px;
  margin-right: 15px;
  cursor: pointer; 
  display: block; float: left; width: 10px; height: 10px;
  border: 1px solid #fff; 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(112, 72, 43, 0.3);
  transition: all .5s ease;
}

.visual .dock .ps{
  /* margin-right: 20px; */
  cursor: pointer; 
  display: block; 
  float: left; 
  width: 32px; height: 32px;
  color: #fff;
  transition: all .4s ease;
}
.visual .dock .ps:hover .material-symbols-rounded{
  color: #8E684C;
}
.visual .dock .ps .material-symbols-rounded{
  font-size: 2rem; color: #fff;
  text-shadow: 0 0 5px rgba(112, 72, 43, 0.3);
}   

/* .visual .btn{
  display: block; width: 40px; height: 100px;
  background: red;
  position: absolute; top:150px;
  cursor:pointer;
} */

/* .visual .btnLeft{left:50%; margin-left: -490px;}
.visual .btnRight{left:50%; margin-left: 450px;}     */



/* -----본문 콘텐츠 영역------- */ 

/* 각 섹션 사이즈 값 설정 */
#content{width: 100%; margin: 0 auto;}
/* #content section{height: 900px;} */

#content section:nth-of-type(1){width: 1200px; margin: 0 auto; }
#content section:nth-of-type(2){width: 100%; margin: 0 auto; background: #F5F5F5 0 0 repeat;}
#content section:nth-of-type(3){width: 2000px; margin: 0 auto;}
#content section:nth-of-type(4){width: 2000px; margin: 0 auto;}
#content section:nth-of-type(5){width: 2000px; margin: 0 auto}

#content section .business_container{width: 1200px; margin: 0 auto;} 
#content section .brand_container{width: 1200px; margin: 0 auto; } 
#content section .career_container{width: 1200px; margin: 0 auto;} 



/* 섹션 1 - 회사소개 */

.company{padding: 110px 0 110px; position: relative;}
.company h3{font-size: 3.13rem;}
.company .p1{font-family: "Noto Serif KR"; font-size: 2.5rem; font-weight: 500;
  margin: 50px 0 ; position: relative; }
.company .p1::after{content: ""; display: block;
  width: 1200px; height: 1px; background: #333;
  position: absolute; left: 0; top: 160px;
  margin: 0 0 30px;
}

.company .company_container{position: relative; overflow: hidden;
  margin: 100px 0 0 ;}
.company .company_con{float: left;
   /* overflow: hidden; */
}

.company .p2{ display: block;
  font-size: 1.38rem; font-weight: 500; 
  line-height: 2.3rem;
}
.company ul{margin: 230px 0 0 0;}

.company .company_img{
  display: flex; 
  width: 380px; 
  flex-wrap: wrap; 
  flex-direction: row; 
  gap: 10px;
  /* overflow: hidden; */
}


.company img{float: right; }

.company .comp_img{float: right;
  width: 795px; height: 550px;
}
.company .more{width: 240px; height: 50px; color: #8E684C;
  font-size: 1.25rem; 
  border: 1px solid #8E684C; border-radius: 30px;
  text-align: center; padding: 8px;
  position: absolute; left: 0; top: 150px;
  display: block; box-sizing: border-box;
  overflow: hidden;
}

.company .more:hover{
  width: 240px; height: 50px;
  color: #fff;
  font-size: 1.25rem;
  text-align: center; padding: 8px;
  position: absolute; left: 0; top: 150px; 
  transition: all .6s ease-out;
}

.company .more::before{content: ""; display: block;
  width: 0; height: 50px; 
  font-size: 1.25rem; background: #8E684C;
  text-align: center; padding: 8px;
  box-sizing: border-box; color: #fff;
  position: absolute; left: -20px; top:0px;
  transition: all .5s ease-out;
  z-index: -1;
}

.company .more:hover::before{
  width: 300px; height: 50px; color: #fff;
  font-size: 1.25rem; background: #8E684C; 
  text-align: center; padding: 8px;
  position: absolute; left: -20px; top:0px;
}


/* 섹션 2 - 사업영역 */

.business{padding: 110px 0; height: 830px;}

.business .business_container{position: relative; left: 0; top: 0;}
.business h3{font-size: 3.13rem;}
.business .business_container .p1{
  display: block; 
  margin: 40px 0 40px;
  font-size: 1.38rem; font-weight: 500;
}
.business .business_container img{
  display: block;
  position: absolute; left: -400px; top: 0;
}

/*--- 오른쪽 메뉴 호버 버튼--- */
.business ul{position: absolute; right: 0; top: 230px; z-index: 10;
}
.business .business_menu li::after{content: ''; width: 340px; height:2px;
    display: block; background: #ccc; position: absolute; bottom: 0; left:220px}
.business .business_menu li{  
  width: 540px;
  height: 130px;
  box-sizing: border-box;  
  padding: 30px 0 30px 220px;
  color: #6A6A6A;
  overflow: hidden;
  position: relative;
  transition: all .5s ease-out;
}

.business .business_menu li:hover{  
  background: #8E684C;
  border-radius: 20px 0 20px;
  padding: 30px 30px;
  color: #fff;
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,.3);
}
.business .business_menu li:hover::after{content: ''; display: none;}
.business .business_container li span{
  display: block;
  font-family:"Montserrat" ;
  font-size: 1.25rem; font-weight: 400;  
}
.business .business_container li:hover span{float: right; margin: 25px 20px 0; color: #ffcca8; }
.business .business_container li:hover span{float: right; margin: 25px 20px 0; color: #ffcca8; }

.business .business_container li h4{font-size: 2.19rem; font-weight: 600;position: absolute;left:220px; top:60px; transition: all .3s}
.business .business_container li:hover h4{ left:50px; top:40px}



/* 사업영역 이미지 위 dt dd 태그 css */
.business .business_text {position: relative;}
.business dl{position: absolute; left: 0; top: 370px;}
.business dl dt{
  font-size: 1.88rem; 
  font-weight: 700;
  color: #000; 
  margin-bottom: 10px;
}
.business dl dd{
  width: 530px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  color: #000;
  margin-bottom: 15px;
}
.business .business_text a{
  width: 140px;
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
  text-align: center; padding: 3px;
  display: block; box-sizing: border-box;
  color: #fff;
  background: #8e684c87;
  /* position: absolute; left: 0; top: 530px; */
  overflow: hidden;
  transition: all .3s ease-out;
}
.business .business_text a:hover{
  width: 140px;
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
  text-align: center; padding: 3px;
  display: block; box-sizing: border-box;
  color: #fff;
  background: #8e684c;
  overflow: hidden;
  transition: all .3s ease-out;
}



/* 섹션 3 - 브랜드 소개  */
.brand{
  padding: 110px 0 ; 
  height: 1157px;
  background: url(../mainimages/brand.jpg) ;
}
.brand .brand_tit{float: left; overflow: hidden; margin: 100px 0; }
.brand h3{font-size: 3.13rem; color: #fff;
  text-shadow: 3px 3px 5px rgba(0,0,0,.5), -3px -3px 5px rgba(0,0,0,.5);
}
.brand .p1{
  display: block; margin: 40px 0;
  font-size: 1.88rem; font-weight: 500; color: #fff;
  line-height: 3.3rem; 
  text-shadow: 3px 3px 5px rgba(0,0,0,.5), -3px -3px 8px rgba(0,0,0,.5);
}
.brand .brand_con{}

.brand ul{position: relative; float: right;}

.brand .brand_con ul li a{
  width: 360px;
  height: 480px;
  border: 1px solid rgba(255,255,255,.5); 
  border-radius: 20px;
  padding: 55px 40px ;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff00;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0,0,0,.3);
  backdrop-filter: blur(5px);
  box-shadow: 2px 0px 8px 1px rgba(255, 255, 255, 0.5);
  transition: all .3s ease;
}
.brand .brand_con ul li a:hover{
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
  color: #111;
  text-shadow: 0px 0px 0px rgba(0,0,0,.3);
  box-shadow: 2px 2px 10px 5px rgba(0,0,0,.4);
}


.brand li:nth-child(1){position:absolute; right:385px; top: 0;}
.brand li:nth-child(2){position:absolute; right: 0; top: 160px;}
.brand li:nth-child(3){position:absolute; right: 385px; top: 505px;}
.brand li:nth-child(4){position:absolute; right: 0; top: 665px;}
  
.brand .brand_con li img{opacity: 0; display: flex; align-content: center; 
}
.brand_con li:hover img{opacity: 1; transition: all .5s ease-out;}

.brand .brand_con li:nth-child(1) img{
  width: 200px;
  margin: 100px auto;
  display: flex;
  align-content: center; 
}
.brand .brand_con li:nth-child(2) img{
  width: 159px;
  margin: 85px auto;
  display: flex;
  align-content: center; 
}
.brand .brand_con li:nth-child(3) img{
  width: 260px;
  margin: 110px auto;
  display: flex;
  align-content: center; 
}
.brand .brand_con li:nth-child(4) img{
  width: 170px;
  margin: 90px auto;
  display: flex;
  align-content: center; 
}

.brand h4{font-size: 1.56rem; float: left;}
.brand .brand_con p{margin: 25px 0 0; font-size: 1rem;}
.brand .brand_con span{margin: 6px 15px 0;
  font-size: 1.85rem; color: #FFCCA8;
  transition: all .5s ease-out;
}
.brand .brand_con li:hover span{margin: 6px 15px 0;
  font-size: 1.85rem; color: #8e684c;
  transform: translateX(95px);
}

/* .brand .brand_con ul li{
  width: 360px;
  height: 480px;
  border: 1px solid rgba(255,255,255,.5); 
  border-radius: 20px;
  padding: 55px 40px ;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff00;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0,0,0,.3);
  backdrop-filter: blur(5px);
  box-shadow: 2px 0px 8px 1px rgba(255, 255, 255, 0.5);
  transition: all .3s ease;
}
.brand .brand_con ul li:hover{
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
  color: #111;
  text-shadow: 0px 0px 0px rgba(0,0,0,.3);
  box-shadow: 2px 2px 10px 5px rgba(0,0,0,.4);
}


.brand li:nth-child(1){position:absolute; right:385px; top: 0;}
.brand li:nth-child(2){position:absolute; right: 0; top: 160px;}
.brand li:nth-child(3){position:absolute; right: 385px; top: 505px;}
.brand li:nth-child(4){position:absolute; right: 0; top: 665px;}
  
.brand .brand_con li img{opacity: 0; display: flex; align-content: center; 
}
.brand_con li:hover img{opacity: 1; transition: all .5s ease-out;}

.brand .brand_con li:nth-child(1) img{
  width: 200px;
  margin: 100px auto;
  display: flex;
  align-content: center; 
}
.brand .brand_con li:nth-child(2) img{
  width: 159px;
  margin: 85px auto;
  display: flex;
  align-content: center; 
}
.brand .brand_con li:nth-child(3) img{
  width: 260px;
  margin: 110px auto;
  display: flex;
  align-content: center; 
}
.brand .brand_con li:nth-child(4) img{
  width: 170px;
  margin: 90px auto;
  display: flex;
  align-content: center; 
}

.brand h4{font-size: 1.56rem; float: left;}
.brand .brand_con p{margin: 25px 0 0; font-size: 1rem;}
.brand .brand_con span{margin: 6px 15px 0;
  font-size: 1.85rem; color: #FFCCA8;
  transition: all .5s ease-out;
}
.brand .brand_con span:hover{margin: 6px 15px 0;
  font-size: 1.85rem; color: #8e684c;
  transform: scale(1.2);
} */




/* 섹션 4 - 사회공헌 */
.social{padding: 110px 0 110px; position: relative;
  text-align: center; overflow: hidden;
}
.social h3{font-size: 3.13rem; margin: 0 0 40px;}

.social .p1{display: block; margin: 40px 0 50px;
  font-size: 1.38rem; font-weight: 500; }
.social .social_box{
  width: 400px;
  height: 480px; 
  background: #423124e1;
  color: #FFCCA8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; right: 338px; top: 500px ;
  transition: all .3s ease-out;
}
.social .social_con{position: relative;  overflow: hidden;}
.social .social_con img{transition: all .3s ease-out; overflow: hidden;}
.social .social_con:hover img{transform: scale(1.1); filter: brightness(90%);}

.social .social_con:hover .social_box {
  width: 400px;
  height: 480px;
  background: #423124e1;
  color: #FFCCA8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; right: 338px; top: 0 ;
}
.social h4{font-size: 1.88rem; }
.social .social_box p{margin: 20px 0 0; font-size: 1.13rem;}

.social .social_box a{margin: 30px 0 0; 
  width: 150px; height: 30px; 
  color: #FFCCA8;
  font-size: 1.13rem; 
  border: 1px solid #FFCCA8; 
  border-radius: 30px;
  text-align: center;
  transition: all .5s ease-out;
}
.social .social_box a:hover{margin: 30px 0 0; 
  width: 150px; height: 30px; 
  color: #FFCCA8;
  font-size: 1.13rem; 
  border: 1px solid #FFCCA8; 
  border-radius: 30px;
  text-align: center; 
  transform: scale(1.1);
}





/* 섹션 5 - 인재채용  */
.career{padding: 110px 0 110px; position: relative;
  background: url(../mainimages/career.jpg);
  text-align: center;
  overflow: hidden;
}

.career h3{font-size: 3.13rem; color: #fff;}

.career p{display: block; margin: 25px 0 30px;
  font-size: 1.38rem; font-weight: 400; color: #fff;}
.career .career_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: imgScale .6s ease-out;
  position: relative;
  overflow: hidden;
  
}
@keyframes imgScale {
  0% {transform: scale(0.5);
  }
  100% {transform: scale(1);
  }
}

.career a{
  color: #FFCCA8;
  width: 230px; height: 50px;
  font-size: 1.25rem; 
  border: 1px solid #FFCCA8; 
  box-sizing: border-box;
  border-radius: 30px;  
  text-align: center; padding: 9px;
  letter-spacing: 0.3rem;
  overflow: hidden;
  position: relative;
  transition: all .6s ease-out; 
}
.career a:hover{
  width: 230px; height: 50px;
  color: #fff; 
  border: 1px solid #8E684C;
  box-sizing: border-box;}

.career a::before{content: ""; display: block;
  width: 0; height: 50px;  background: #8E684C;
  position: absolute; left:0; top:0; z-index: -1;
  transition: all .5s ease-out;
}
.career a:hover::before{width: 230px; }

