#content .title_area h2::before{content: 'Recruit'; display: block;
    position: absolute; width: 100%; font-size: 1rem; font-weight: 400; text-align: center; top: 120px; color: #8E684C; }

/* 채용공고의 본문 */ 


/* content_area 영역 */
.content_area{width: 1200px; margin: 0 auto;  }
.content_area h3{font-family:"Noto Serif KR" ; font-size: 2.5rem; color:#8E684C; text-align:center; font-weight: 600;}
.content_area .p1{font-size: 1.56rem; color:#555; text-align:center; width: 1370px; margin: 0 auto; margin-top: 50px; margin-bottom: 150px; line-height: 2.8rem; }

.content_area hr{
    width: 1200px;
    background:#d9d9d9; 
    height:1px; 
    border:0;
    margin: 0 auto;
}
