#content .title_area h2::before{
    content: 'Shilla Stay'; display: block;
    position: absolute; width: 100%; font-size: 1rem; font-weight: 400; text-align: center; bottom: 45px; color: #8E684C; }

/* 신라스테이의 실제 본문 내용 */ 


/* 구글 아이콘 */
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
}



/* 브랜드 소개 - 신라스테이 */ 


/* content_area 영역 */
.content_area{width: 100%; margin: 0 auto;}
.content_area .brand_title img{width: 100%; margin-top: 5%;}
.content_area .brand_title h3{
    font-family:"Noto Serif KR" ; font-size: 2rem; color:#423124; text-align:center; font-weight: 600;
    margin-top: 5%;
}
.content_area .brand_title span{
    display: block;
    font-size: 1.2rem;
    text-align: center;
    color: #FFCCA8;
    margin-top: 2%;
}
.content_area .brand_title .p1{
    font-size: 1.2rem; color:#555; text-align:center; width: 90%; margin: 0 auto; margin-top: 5%; margin-bottom: 15%; line-height: 2.2rem;
}
.content_area hr{
    width: 100%;
    background:#d9d9d9; 
    height:1px; 
    border:0; 
    margin-bottom: 15%;
}

/* 브랜드 소개 */
.brand_intro{width: 100%; margin: 0 auto;}
.brand_intro ul{width: 90%; margin: 0 auto;}
.brand_intro ul li{margin-bottom: 50px;}
.brand_intro ul li:last-of-type{margin-bottom: 80px;}
.brand_intro ul li .intro_tit{
    font-size: 1.6rem; 
    font-weight: 600; 
    color: #8E684C;
    display: block;
    margin-bottom: 15px;
}
.brand_intro ul li .intro_bottom{
    text-align: left;
}
.brand_intro ul li .intro_bottom .p2{
    font-family:"Noto Serif KR";
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 15px;
    background: #FFF8F2;
    padding: 20px;
}
.brand_intro ul li .intro_bottom .p3{
    font-size: 1.1rem; 
    line-height: 1.8rem;
    border-radius: 15px;
    border: 1px solid #ffede1;
    box-sizing: border-box;
    padding: 20px;
    margin: 8px 0 5%;
}
.brand_intro ul li:nth-of-type(2) p,
.brand_intro ul li:nth-of-type(3) p{
    font-size: 1.1rem; 
    line-height: 1.8rem;
    border-radius: 15px;
    margin-bottom: 30px;
}



/* table code */
.brand_intro ul li .intro_bottom table{
    width: 100%;
    font-size: 1rem;
    color: #555;
}
.brand_intro ul li .intro_bottom table th{
    font-weight: normal;
    padding: 2% 1%;
}
.brand_intro ul li .intro_bottom table thead tr{
    width: 21%;
    text-align: center;
    border-top: 1px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
}
.brand_intro ul li .intro_bottom table tbody tr{
    border-bottom: 1px solid #d9d9d9;
}
.brand_intro ul li .intro_bottom table tbody th{
    width: 37%;
    padding: 3% 2%;
    background: #FFF8F2;
}
.brand_intro ul li .intro_bottom table tbody span{
    color: #8E684C;
    text-align: center;
    font-size: 1.7rem;
    display: block;
}

/* guideline code */
.brand_intro ul li .intro_bottom .guideline{
    width: 100%;
}
.brand_intro ul li .intro_bottom .guideline dl{
    width: 30%; margin: 0 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.brand_intro ul li .intro_bottom .guideline dl dt span{
    font-size: 2.5rem;
    text-align: center;
    color: #8E684C;
    background: #FFF8F2;
    border-radius: 50%;
    padding: 30px;
    font-weight: 200;
}
.brand_intro ul li .intro_bottom .guideline dl dd{
    margin-top: 10px;
    color: #333;
    font-size: .9rem ;
    text-align: center;
}

.swiper-scrollbar-drag{background: #85654e81;}






/* 신라스테이 섹션 */
#shillastay{ width: 100%; height: 830px; margin-bottom: 80px;}

#shillastay .shillastay_content{position: relative;}
#shillastay .shillastay_content .shillastay_gallery_wrap{
    width: 100%; height: 300px;
    padding: 80px 0;
    background: #333;
}
#shillastay .shillastay_content .shillastay_gallery{
    width: 100%;
}
#shillastay .shillastay_content .shillastay_gallery ul.gallery {
    width: 100%;
}
#shillastay .shillastay_content .shillastay_gallery ul.gallery li{
    width: 300px; 
}
#shillastay .shillastay_content .shillastay_gallery ul.gallery li img{
    width: 300px; height: auto;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}


/* 신라스테이 텍스트 박스 */
#shillastay .shillastay_box{
    margin: 0 5%;
    text-align: center;
    background: #fff;
    padding: 20px 0 40px;
    margin-top: 130px;
    border-radius: 30px;
    box-shadow: 0 2px 8px #33333383;
    position: absolute; top: 200px;
}
#shillastay .shillastay_box h4{
    font-size: 1.8rem;
    color: #423124; 
    margin-top: 40px; 
    position: relative;
}
#shillastay .shillastay_box > span{
    font-family: 'Noto Serif KR';
    font-size: 1.5rem;
    font-weight: 500;
    color: #8E684C;
    display: block;
    margin: 20px 0 20px;
}
#shillastay .shillastay_box p{
    width: 90%; margin: 0 auto;
    font-size: 1.1rem;
    line-height: 2rem;
    color: #555;
    margin-bottom: 30px;
}
#shillastay .shillastay_box .shillastay_link{
    width: 40%; margin: 0 auto;
    border: 1px solid #8E684C;
    color: #8E684C;
    border-radius: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    transition: all .4s ease-out;
}
#shillastay .shillastay_box .shillastay_link span:nth-child(1){
    font-size: 1.1rem;
}
#shillastay .shillastay_box .shillastay_link .material-symbols-outlined{
    color: #8E684C;
    transition: all .4s ease-out;
}
#shillastay .shillastay_box .shillastay_link:hover {
   background: #8E684C;
}
#shillastay .shillastay_box .shillastay_link:hover span{
    color: #fff;
}



/* Property 영역 */
.stay_con {width: 100%; margin-bottom: 80px;}

.stay_con .tit{
    width: 90%; margin: 0 5%;
    text-align: center;
}
.stay_con .tit span{
    font-family: 'Noto Serif KR';
    font-size: 1.7rem;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}
.stay_con .tit p{
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 50px;
}
.stay_con .swiper-container{ padding-bottom: 40px;}
.stay_con ul.box{ width: 100%;  height: 100%; position: relative;}
.stay_con ul.box li{
    width: 96%; margin: 0 4%;
    border: 1px solid #D9D9D9;
    border-right: 0;
    border-radius: 30px 0 0 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.stay_con ul.box li div{width: 40%;}
.stay_con ul.box li img{width: 100%; height: 180px;
    object-fit: cover; object-position: center;
}
.stay_con ul.box li dl{width: 60%;  margin: 0 5%; text-align: justify;}
.stay_con ul.box li dl dt{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.stay_con ul.box li dl dd{
    font-size: 1rem;
    line-height: 1.5rem;
}

.stay_con .swiper-pagination-bullet{
    width: 20px; height: 5px;
    border-radius: 20px;
    opacity: .1;
}
.stay_con .swiper-pagination-bullet-active{
    background: #FFCCA8;
    opacity: 1;
}


.movetop .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }