#content .title_area h2::before{
    content: 'Personnel System'; display: block;
    position: absolute; width: 100%; font-size: 1rem; font-weight: 400; text-align: center; bottom: 45px; color: #8E684C; }

/* 인재상의 실제 본문 내용 */ 



/* 인재채용 - 인재상 */ 

/* content_area 영역 */
.content_area{width: 100%; margin: 0 auto;  }
.content_area h3{font-family:"Noto Serif KR" ; font-size: 2rem; color:#8E684C; text-align:center; font-weight: 600;
    margin-top: 5%;}
.content_area .p1{
    font-size: 1.2rem; color:#555; 
    text-align:center; width: 90%;
    margin: 0 auto; margin-top: 5%; margin-bottom: 15%;
    line-height: 2.2rem;
}

.content_area hr{
    width: 100%;; margin: 0 auto;
    background:#d9d9d9; 
    height: 1px; border:0; 
}
.content_area .con1{width: 100%;}
.content_area .con1 h4{
    width: 90%;; margin: 0 5%;
    font-size: 1.8rem;
    margin-top: 50px;
}
.content_area .con1 p{
    width: 90%;; margin: 0 5%;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 10px;
    margin-bottom: 50px;
}



/* 직급 및 평가 체계 */

.content_area .con1 ul{width: 100%;}
.content_area .con1 ul li{
    width: 100%;
    position: relative;}
.content_area .con1 ul li img{
    width: 100%; margin-top: 50px;
    object-fit: cover; object-position: center;
}
.content_area .con1 ul li span.trjob{
    display: block;
    width: 90%;; margin: 0 5%;
    color: #F04D37;
    border-top: 1px solid #eb867885;
    border-bottom: 1px solid #eb867885;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
}
.content_area .con1 ul li ul{
    width: 90%; margin: 20px 5% 60px; display: flex;
}
.content_area .con1 ul li span.hpjob{
    display: block;
    width: 90%;; margin: 0 5%;
    color: #164A96;
    border-top: 1px solid #608bcc81;
    border-bottom: 1px solid #608bcc81;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;

}

.content_area .con1 ul li ul li dl{}
.content_area .con1 ul li ul li dl dt{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
.content_area .con1 ul li ul li dl dd{
    font-size: .9rem;
    text-align: center;
    color: #999;
    margin-top: 3px;
}

  
.content_area .con1 .job{width: 100%; margin: 80px auto;}
.content_area .con1 .job ul {width: 90%; margin: 0 5%;}
.content_area .con1 .job ul li{ }
.content_area .con1 .job ul li dl{
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 10px;
}
.content_area .con1 .job ul li dl dt{
    font-size: 1.3rem;
    font-weight: 600;
}
.content_area .con1 .job ul li dl dd{font-size: 1.2rem;}



/* 연봉 체계 */
.content_area .con2{width: 100%; margin: 0 auto; }

.content_area .con2 h4{
    width: 90%;; margin: 0 5%;
    font-size: 1.8rem;
    margin-top: 80px;
}
.content_area .con2 p{
    width: 90%;; margin: 0 5%;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 10px;
    margin-bottom: 50px;
}

.content_area .con2 .paycon{
    width: 96%; margin: 0 2%;
    display: flex; 
    justify-content: center;
    margin-bottom: 50px;
}
.content_area .con2 .paycon .chart1{width: 50%; 
}
.content_area .con2 .paycon .chart2{width: 50%;
}
.content_area .con2 .paycon .plus{
    font-size: 3rem;
    font-weight: 500;
    color:#777;
    margin-top: 20%;
}
.content_area .con2 .paytxt{
    font-size: .9rem;
    color: #777; 
    width: 90%;; margin: 0 5%;
    margin-bottom: 80px;
    text-align: center;
}



/* 복리후생 */
.content_area .con3{width: 100%; margin: 80px auto;}
.content_area .con3 h4{
    width: 90%;; margin: 0 5%;
    font-size: 1.8rem;
}
.content_area .con3 .p2{
    width: 90%;; margin: 0 5%;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 10px;
    margin-bottom: 50px;
}
.content_area .con3 ul{
    display: flex;
    margin-bottom: 30px;
}
.content_area .con3 ul li{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.content_area .con3 ul li span{
    display: inline-block;
    width: 100px ;height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 2.5rem;
    text-align: center;
    background: #f1f3f4;
    color: #284a6e;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
}
.content_area .con3 ul li p{
    font-size: 1.1rem;
    color: #555;
    margin-top: 10px;
}
.swiper-scrollbar-drag{background: #5980aa80;}