body{background-color: #f5f5f5}
.logo{margin: 50px auto 0; display: block; 
    width: 251px; height: 31px; background: url(../../common/images/logo.png);}

#content{width: 750px;
    margin: 50px auto;
    background: #fff; 
    border-radius: 20px;
    padding: 50px 80px;
    box-shadow: 0px 5px 14px rgba(125, 125, 125, 0.2);
}  


    .member_tab{padding: 30px 0;border-top: 1px solid #333;}
    .member_tab a{font-size: 24px;padding: 10px;margin: 0 10px;color: #aaa;}
    .member_tab a.on{color: #fff;border-bottom: 2px solid #333;font-weight: bold}
    .member_tab span{font-size: 24px;padding: 10px;margin: 0 10px;color: #fff;font-weight: bold}

    .join{text-align: left; position: relative;}
    .join h3{font-size: 1.56rem;  margin-left: 42%; position: relative;}
    .join h4{font-size: 1.25rem; margin: 30px 0 20px;}
    
    .join .policy{
        padding: 10px; 
        overflow-y: scroll; 
        height: 80px; 
        margin: 20px 0; 
        border: 1px solid #ddd;
        background: #fff;
        color: #777;
        font-size: .9rem;
        line-height: 1.5rem;
    }
    .join .check{color: #333; margin: 20px 0 60px;}
    .join .button{text-align: center; margin-top: 30px;}
    .join .button .ok,.join .button button,.join .allcheck{
        display: inline-block;
        width: 300px; height: 50px; 
        padding: 8px 0;
        border: none;
        line-height: 50px;
        background: #8E684C; 
        color: #fff;
        font-size: 1.1rem;
        cursor: pointer;
        margin: 0 5px;
        border-radius: 10px;
    }
    .join .button .cancel{
        display: inline-block; 
        width: 200px; line-height: 24px; 
        padding: 8px 0; border: none;
        background: #999; color: #fff;
        font-size: 14px;
        cursor: pointer;
        border-radius: 10px;
    }
    .join .allcheck{
        background: transparent;
        border: 1px solid #8E684C; 
        color: #8E684C;
        border-radius: 10px;
    } 

    /* 체크박스 UI변경 */
    input[type=checkbox] + label::before {   /* + => 친구라는 의미   []: 태그의 속성   라벨에 before주기 */ 
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: transparent;
        border: 1px solid #999;
        border-radius: 50%;
        content: '';
        margin: 0px 15px -4px 0px;
    }
    /* 원래의 체크박스 */
    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox] + label {
        cursor: pointer;
    }
    /* 체크박스타입의 인풋이 :checked  => 체크되면 + 라벨의 비포*/
    input[type=checkbox]:checked + label::before {
        width: 20px; height: 20px;
        background: #fff url(../images/checked.png) center center no-repeat;
        border: 0px solid #8E684C;
    }