#content .title_area h2::before{content: 'Overview'; display: block;
    position: absolute; width: 100%; font-size: 1rem; font-weight: 400; text-align: center; top: 120px; color: #8E684C; }

/* 기업개요의 실제 본문 내용 */ 


/* content_area 영역 */
.content_area{width: 1200px; margin: 0 auto;}
.content_area h3{font-family:"Noto Serif KR" ; font-size: 2.5rem; color:#8E684C; text-align:center; font-weight: 600;}
.content_area .p1{font-size: 1.56rem; color:#555; text-align:center; width: 700px; margin: 0 auto; margin-top: 50px; margin-bottom: 150px; line-height: 2.8rem; }

.content_area ul li{overflow: hidden; margin-bottom: 150px;}

.content_area ul li:nth-child(1) img{float: left;}
.content_area ul li:nth-child(2) img{float: right;}
.content_area ul li:nth-child(3) img{float: left;}

.content_area ul li:nth-child(1) div{float: left; margin-left: 50px; width: 530px; text-align: justify;}
.content_area ul li:nth-child(2) div{float: right; margin-right: 50px; width: 530px; text-align: justify;}
.content_area ul li:nth-child(3) div{float: left; margin-left: 50px;width: 530px; text-align: justify;}

.content_area ul li h4{
    font-family: "Noto Serif KR"; 
    font-size: 2.19rem; 
    font-weight: 500;
    margin-top: 110px;
}
.content_area ul li p{
    font-size: 1.25rem;
    font-weight: 400; 
    line-height: 2.2rem; 
    margin-top: 45px;
}

.content_area ul li:nth-child(2) div{text-align: right;}
.content_area ul li:nth-child(2) div h4{margin-top: 130px;}
.content_area ul li:nth-child(3) div h4{margin-top: 60px;}
