@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
/* font-family: "Noto Sans KR", sans-serif; */
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Fraunces", serif; */



/*  Reset CSS  */
* { margin:0; padding:0;}
html{font-size: 16px;}
body {font-family:'Noto Sans KR', sans-serif; color:#333;}
ol,ul { list-style: none; }
a {color: #333; text-decoration:none; display: block;}
img {border:0; vertical-align: top;}
em{font-style: normal;}
.hidden {display: block; position: absolute; 
    left:-1000%; top:0; width: 1px; height: 1px;
    overflow: hidden; color: #fff;}


:root{
    --ft-sanserif:"Montserrat";
    --ft-serif: "Fraunces";
    --pf-color: #006168;
    --pf-light: #5ABAB9;
    --web-color: #8E684C;
    --rw-color: #F2AA00;
    --dp-color: #1F76C7;
}




/* 로고 */
h1 a{font-size: 2rem; 
    font-family: var(--ft-serif);
    font-style: italic;
    font-weight: 500;
    color: var(--pf-color);
    position: fixed; top:30px; left:30px;
    transition: all .5s;
    z-index:50;
}

/* 메뉴 */
#menu { position: fixed; top:50%; left:0px; transform: translateY(-50%); z-index:50;}
#menu a { display:block; 
    font-family:"Montserrat";
    font-size: 1.2rem; 
    font-weight: 500;
    color:#999; 
    opacity: 0.8;
    transition: all .3s ease-out;
    position: relative; 
    margin-left: 60px;
    padding: 8px 0;
}
#menu a::before{content: ''; display: block; 
    width: 50px; height: 6px;
    background: #333;
    border-radius: 20px;
    opacity: 0;
    transition: all .3s;
    position: absolute; left: -120px; top: 20px;
}
#menu li.on a { 
    font-size: 1.4rem;
    font-weight: 600;
    color:#333 ;
    opacity:1;
}
#menu li.on a { }
#menu li.on a::before{opacity: 1; left: -70px;}
#menu li:nth-child(5).on a::before{background:var(--rw-color);}
#menu li:nth-child(5).on a { color: var(--rw-color);}
#menu li:nth-child(6).on a::before{background:var(--dp-color);}
#menu li:nth-child(6).on a { color: var(--dp-color);}

#menu li:hover a { font-size: 1.5rem;  opacity:1; }
#menu li:nth-child(1):hover a { color: var(--pf-light); }
#menu li:nth-child(2):hover a { color: var(--pf-light); }
#menu li:nth-child(3):hover a { color: var(--web-color);}
#menu li:nth-child(4):hover a { color: var(--web-color);}
#menu li:nth-child(5):hover a { color: var(--rw-color)}
#menu li:nth-child(6):hover a { color: var(--dp-color)}




/* 섹션 세팅 */
section {
    width:100%; height:700px; 
    position:relative; 
    background-size:cover;         
    background-position:center center;
    overflow:hidden;
    background-attachment:fixed;
}
section:nth-child(1) { background-image:url(../image/bg/main_bg.jpg); }
section:nth-child(2) { background-image:url(../image/bg/bg1.jpg); }
section:nth-child(3) { background-image:url(../image/bg/bg2.jpg); }
section:nth-child(4) { background-image:url(../image/bg/bg3.jpg); }
section:nth-child(5) { background-image:url(../image/bg/bg4.jpg); }
section:nth-child(6) { background-image:url(../image/bg/bg5.jpg); }


/* 홈 섹션 */

#home {
    position: relative;
    & div{
        position: absolute; left: 500px; top: 50%;
        transform: translateY(-50%);
        color: var(--pf-color);
        & p{
            font-size: 1.5rem;
            font-family: var(--ft-sanserif);
        }
        & h2{
            font-size: 10rem;
            font-family: var(--ft-serif);
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
    & ul{
        position: absolute; right: 250px; top: 50%;
        transform: translateY(-50%);
        & li{
            border-radius: 50px;
            font-family: var(--ft-sanserif);
            font-size: 1.8rem;
            padding: 10px 40px;
        }
        & li:nth-of-type(1){
            display: inline-block;
            color: var(--pf-color);
            border: 1px solid var(--pf-color);
            margin-bottom: 20px;
        }
        & li:nth-of-type(2){
            font-weight: 300;
            color: #fff;
            background: var(--pf-color);
        }
    }
}


/* 프로필 섹션 */

#pf{
    & ul.back{
        & li:nth-of-type(1){
            position: absolute; top: -30%; right: 10%;
            opacity: .8;
            animation: circlemove1 5s infinite alternate-reverse;
            & img{ width: 450px; rotate: -135deg;}
        }
        & li:nth-of-type(2){
            position: absolute; bottom: -30%; right: -10%;
            animation: circlemove2 7s infinite alternate-reverse;
            animation-delay: .6s;
            & img{ width: 680px; rotate: 90deg;}
        }
        & li:nth-of-type(3){
            position: absolute; bottom: -45%; left: -10%;
            animation: circlemove2 4s infinite alternate-reverse;
        }
            
    }
}

@keyframes circlemove1{
    0%{ transform: translateY(0);}
    100%{ transform: translateY(10%);}
}
@keyframes circlemove2{
    0%{ transform: translateY(0);}
    100%{ transform: translateY(-8%);}
}


.pf_box {
    width: 60%; height: 60%;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--pf-color);
    border-radius: 50px;
    background: #eae8db85;
    backdrop-filter: blur(10px);
    z-index: 5;
    padding: 80px 80px;
    display: flex;
}

.pf_left{
    margin: auto;
    margin-right: 80px;
    & img{border-radius: 20px;}
    & ul.link_btn{
        margin-top: 20px;
        & li{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            & a{
                @extend .btn;
            }
            & a:hover{
                background: var(--pf-color);
                color: #fff;
                border: 1px solid var(--pf-color);
                letter-spacing: 6px;
            }
            & a:nth-of-type(1):hover{
                letter-spacing: 3px;
            }
        }
    }
}

.btn{
    width: 200px;
    font-size: 1.4rem;
    font-family: var(--ft-serif);
    font-style: italic;
    text-align: center;
    color: var(--pf-color);
    border: 1px solid var(--pf-color);
    border-radius: 30px;
    padding: 10px 40px;
    transition: .4s ease-out;
}

// title 영역 상속 css

.tit_strong{
    font-family: var(--ft-serif);
    font-size: 3.5rem;
    font-weight: 600;
}
.tit_p{
    font-size: 1.1rem;
    line-height: 1.7rem;
    text-align: justify;
    margin-top: 20px;
}
.tit_a{
    font-size: 1.5rem;
    font-family: var(--ft-serif);
    font-style: italic;
    text-align: center;
    border-radius: 50px;
    padding: 10px 50px;
    position: absolute; right: 0; top: 8px;
    transition: all .3s ease-out;
}


// common dt dd 상속 css

.common_dt{
    font-size: 1.3rem;
    font-weight: 600;
}
.color_dd{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.common_dd{
    font-size: 1.2rem;
    color: #666;
}


// // sass 스타일 상속 예제
// .btn {
//     display: inline-block;
//     padding: 8px 16px;
//     font-size: 14px;
//     color: #fff;
//     text-align: center;
//     background-color: #0275d8;
//     border-radius: 4px;
//   }
  
//   .btn-primary {
//     @extend .btn;
//     background-color: #5cb85c;
//   }


.pf_right{
    margin: auto;
    & p{
        font-family: var(--ft-serif);
        font-size: 4.2rem;
        font-weight: 500;
        color: #333;
    } 
    & ul{
        display: flex;
        flex-direction: column;
        & li{
            margin-top: 30px;
            & dl{
                & dt{
                    display: inline-block;
                    font-size: 1.6rem;
                    font-family: var(--ft-serif);
                    font-weight: 600;
                    color: var(--pf-light);
                    border-bottom: 3px solid var(--pf-light);
                    margin-bottom: 10px;
                    padding-bottom: 3px;
                }
                & dd{
                    font-family: var(--ft-sanserif);
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: #333;
                    line-height: 2rem;
                    & span{
                        font-family: "Noto Sans KR";
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
.pf_right .pf_skill{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    & li{
        display: flex;
        margin-top: 0;
    }
}



/* 기업형 웹 */
#web{ position: relative;}
.web_warp{
    width: 70%; margin: 0 auto;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.web_left{
    float: left;
    width: 50%;
    position: absolute; left: 5%; top: 10%;
    & span{
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 500;
        color: #999999;
        margin-bottom: 20px;
    }
    & span::before{content: '01'; display: block;
        width: 100%; height: 100%;
        font-family: var(--ft-sanserif);
        font-size: 9rem;
        font-weight: 700;
        color: #ffcca854;
        position: absolute; bottom: 18%; left: 50%;
    }
    & div.pc{
        width: 75%;
        position: relative;
        z-index: 30;
        & img{
            width: 100%;
        }
    }
    & img.gif{
        width: 71%;
        position: absolute;
        top: 14.2%;
        left: 2%;
    }
    
}

.web_right{
    float: right;
    width: 50%;
    & .tit{
        position: relative;
        & strong{ @extend .tit_strong; color: var(--web-color);}
        & p{ @extend .tit_p; color: #555;}
        & a{ @extend .tit_a; 
            color: var(--web-color);
            border: 1px solid var(--web-color);
        }
        & a:hover{
            color: #fff;
            background: var(--web-color);
        }
    }
}





.web_right .colorfont{
    margin-top: 30px;
    display: flex;
    & dl.color{
        margin-right: 80px;
        & dt{ @extend .common_dt; margin-bottom: 10px;}
        & dd{ @extend .color_dd; }
        & dd:nth-of-type(1){background: var(--web-color);}
        & dd:nth-of-type(2){background: #FFCCA8;}
        & dd:nth-of-type(3){background: #111;}
    }
    & dl.font{
        & dt{ @extend .common_dt; margin-bottom: 10px;}
        & dd{ @extend .common_dd; }
    }
}

.web_right .produce{
    display: flex;
    margin-top: 30px;
    & dl{
        display: flex;
        align-items: center;
        margin-right: 80px;
        & dt{
            @extend .common_dt;
            margin-right: 20px;
        }
        & dd{ @extend .common_dd; }
    }
}

.web_right .skill{
    display: flex;
    margin-top: 30px;
    & dl{
        & dt{ @extend .common_dt; margin-bottom: 10px;}
        & dd{ @extend .common_dd; }
    }
}










/* 기업형 모바일 */


#mb{ position: relative; }
.mb_warp{
    width: 70%; margin: 0 auto;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}


.mb_left{
    float: left;
    width: 40%;
    position: absolute; left: 8%; top: 0%;
    & span{
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 500;
        color: #999999;
        margin-bottom: 20px;
    }
    & span::before{content: '02'; display: block;
        width: 100%; height: 100%;
        font-family: var(--ft-sanserif);
        font-size: 8rem;
        font-weight: 700;
        color: #ffcca854;
        position: absolute; top: 1%; left: 50%;
        rotate: 8deg;
    }
    & div.mb_imgbox{
        width: 45%;
        position: relative;
        & img.mb{
            width: 100%;
            position: relative;
            z-index: 30;
        }
        & img.gif{
            width: 98%;
            position: absolute;
            top: 1.1%;
            left: 1.8%;
            border-radius: 20px;
            z-index: 20;
        }
    }
    & img.mb_back{
        width: 35%;
        position: absolute; top: 17%; right: 18%;
        rotate: 8deg;
    }

}

.mb_right{
    float: right;
    width: 50%;
    & .tit{
        position: relative;
        & strong{ @extend .tit_strong; color: var(--web-color);}
        & span{ 
            font-family: var(--ft-serif);
            font-size: 2.5rem;
            font-weight: 600;
            color: #555;
            margin-left: 20px
        }
        & p{ @extend .tit_p; color: #555;}
        & a{ @extend .tit_a; 
            color: var(--web-color);
            border: 1px solid var(--web-color);
        }
        & a:hover{
            color: #fff;
            background: var(--web-color);
        }
    }
}



.mb_right .colorfont{
    margin-top: 30px;
    display: flex;
    & dl.color{
        margin-right: 80px;
        & dt{ @extend .common_dt; margin-bottom: 10px;}
        & dd{ @extend .color_dd; }
        & dd:nth-of-type(1){background: var(--web-color);}
        & dd:nth-of-type(2){background: #FFCCA8;}
        & dd:nth-of-type(3){background: #111;}
    }
    & dl.font{
        & dt{ @extend .common_dt; margin-bottom: 10px;}
        & dd{ @extend .common_dd; }
    }
}

.mb_right .produce{
    display: flex;
    margin-top: 30px;
    & dl{
        display: flex;
        align-items: center;
        margin-right: 80px;
        & dt{
            @extend .common_dt; & span{ 
            font-family: var(--ft-serif);
            font-size: 2.5rem;
            font-weight: 600;
            color: #999;
            margin-left: 20px
        }
            margin-right: 20px;
        }
        & dd{ @extend .common_dd; }
    }
}

.mb_right .skill{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    & dl{
        width: 80%;
        & dt{ @extend .common_dt; margin-bottom: 10px;}
        & dd{ @extend .common_dd; }
    }
    & div{
        margin: 30px 0;
        background: #fff;
        padding: 5px;
    }
}






/* 반응형 */

#rw{ position: relative; }
.rw_warp{
    width: 70%; margin: 0 auto;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.rw_left{
    float: left;
    width: 50%;
    position: absolute; left: 7%; top: 7%;
    & span{
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff;
        margin-bottom: 20px;
        position: relative; left: 3%;
    }
    & span::before{content: '03'; display: block;
        width: 100%; height: 100%;
        font-family: var(--ft-sanserif);
        font-size: 8rem;
        font-weight: 700;
        color: #ffcf8728;
        position: absolute; top: -260%;  left: 230%;
    }
    & div.rw_imgbox{
        width: 70%; 
        position: relative;
        & img.rw{
            width: 100%;
            position: relative; left: 5%;
            z-index: 10;
        }
        & img.gif{
            width: 93%;
            position: absolute;
            top: 4%;
            left: 8%;
        }
    }
    & img.rw1{
        width: 30%;
        position: absolute; left: -18%; bottom: -22%;
        z-index: 20;
    }
    & img.rw2{
        width: 16%;
        position: absolute; left: 7%; bottom: -34%;
        z-index: 30;
    }
}

.rw_right{
    float: right;
    width: 50%;
    & .tit{
        position: relative;
        & strong{ @extend .tit_strong; color: var(--rw-color);
        }
        & p{ @extend .tit_p; color: #fff; }
        & a{ @extend .tit_a; 
            color: var(--rw-color);
            border: 1px solid var(--rw-color);
        }
        & a:hover{
            color: #111;
            background: var(--rw-color);
        }
    }
}



.rw_right .colorfont{
    margin-top: 30px;
    display: flex;
    & dl.color{
        margin-right: 80px;
        & dt{ @extend .common_dt; color: #fff; margin-bottom: 10px;}
        & dd{ @extend .color_dd; color: #999;}
        & dd:nth-of-type(1){background: var(--rw-color);}
        & dd:nth-of-type(2){background: #111; border: 1px solid #666; box-sizing: border-box;}
        & dd:nth-of-type(3){background: #333;}
    }
    & dl.font{
        & dt{ @extend .common_dt; color: #fff; margin-bottom: 10px;}
        & dd{ @extend .common_dd; color: #999;}
    }
}

.rw_right .produce{
    display: flex;
    margin-top: 30px;
    & dl{
        display: flex;
        align-items: center;
        margin-right: 80px;
        & dt{
            @extend .common_dt;
            color: #fff;
            margin-right: 20px;
        }
        & dd{ @extend .common_dd; color: #999; }
    }
}

.rw_right .skill{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    & dl{
        width: 80%;
        & dt{ @extend .common_dt; color: #fff; margin-bottom: 10px;}
        & dd{ @extend .common_dd; color: #999;}
    }
    & div{
        margin: 30px 0;
        border-radius: 5px;
        border: 1px solid #999;
        padding: 3px;
    }
}




/* 디자인 포폴 영역 */

#dp{ position: relative; }
.dp_warp{
    width: 70%; margin: 0 auto;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.dp_left{
    float: left;
    width: 50%;
    position: absolute; top: 5%;
    & span{
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff;
        margin-bottom: 20px;
        position: relative; 
    }
    & span::before{content: '04'; display: block;
        width: 100%; height: 100%;
        font-family: var(--ft-sanserif);
        font-size: 8rem;
        font-weight: 700;
        color: #31a5fe1a;
        position: absolute; top: -260%;  left: 240%;
    }
    & div.dp_imgbox{
        width: 80%; 
        position: relative;
        & img.dp{
            width: 100%;
            position: relative;
            z-index: 10;
        }
        & img.gif{
            width: 98%;
            position: absolute; top: 2%; left: 1%;
        }
    }
}

.dp_right{
    float: right;
    width: 50%;
    & .tit{
        position: relative;
        & strong{ @extend .tit_strong; color: var(--dp-color);
        }
        & p{ @extend .tit_p; color: #fff; }
        & a{ @extend .tit_a; 
            color: var(--dp-color);
            border: 1px solid var(--dp-color);
        }
        & a:hover{
            color: #fff;
            background: var(--dp-color);
        }
    }
}



.dp_right .colorfont{
    margin-top: 30px;
    display: flex;
    & dl.color{
        margin-right: 80px;
        & dt{ @extend .common_dt; color: #fff; margin-bottom: 10px;}
        & dd{ @extend .color_dd; color: #999;}
        & dd:nth-of-type(1){background: var(--dp-color);}
        & dd:nth-of-type(2){background: #999; box-sizing: border-box;}
        & dd:nth-of-type(3){background: #fff;}
    }
    & dl.font{
        & dt{ @extend .common_dt; color: #fff; margin-bottom: 10px;}
        & dd{ @extend .common_dd; color: #999;}
    }
}

.dp_right .produce{
    display: flex;
    margin-top: 30px;
    & dl{
        display: flex;
        align-items: center;
        margin-right: 80px;
        & dt{
            @extend .common_dt;
            color: #fff;
            margin-right: 20px;
        }
        & dd{ @extend .common_dd; color: #999; }
    }
}

.dp_right .skill{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    & dl{
        width: 80%;
        & dt{ @extend .common_dt; color: #fff; margin-bottom: 10px;}
        & dd{ @extend .common_dd; color: #999;}
    }
    & div{
        margin: 30px 0;
        border-radius: 5px;
        border: 1px solid #999;
        padding: 3px;
    }
}
